In [ ]:
import spacy
nlp=spacy.load("en_core_web_sm")

In [ ]:
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [ ]:
doc=nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")

for ent in doc.ents:
  print(ent.text,"|" , ent.label_, "|", spacy.explain(ent.label_))

Tesla Inc | ORG | Companies, agencies, institutions, etc.
Twitter Inc | ORG | Companies, agencies, institutions, etc.
$45 billion | MONEY | Monetary values, including unit

In [ ]:
from spacy import displacy
displacy.render(doc,style="ent")

In [ ]:
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [ ]:
doc=nlp("Michael Bloomberg founded Bloomberg in 1982")

for ent in doc.ents:
  print(ent.text,"|" , ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg | PERSON | People, including fictional
1982 | DATE | Absolute or relative dates or periods

In [ ]:
doc=nlp("Tesla  is going to acquire Twitter  for $45 billion")

for ent in doc.ents:
  print(ent.text,"|" , ent.label_)

Twitter | PRODUCT
$45 billion | MONEY

In [ ]:
#doc[0]
type(doc[2:5])

spacy.tokens.span.Span

In [ ]:
from spacy.tokens import Span
s1=Span(doc,0,1, label="ORG")
s2=Span(doc,5,6, label="ORG")
doc.set_ents([s1,s2] , default="unmodified")

In [ ]:
for ent in doc.ents:
  print(ent.text,"|" , ent.label_)

Tesla | ORG
acquire | ORG
Twitter | PRODUCT
$45 billion | MONEY